<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <define name="host" class="com.example.demo.config.LogPropertyDefiner"></define>
    <define name="port" class="com.example.demo.config.PortPropertyDefiner"></define>


　　　　　　<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    　　　　　　　　<file>testFile.log</file>
    　　　　　　　　<append>true</append>
    　　　　　　　　<encoder>
    　　　　　　　　　　<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    　　　　　　　　</encoder>
    　　　　</appender>

    <appender name="socket" class="com.splunk.logging.TcpAppender">
        <!--<RemoteHost>127.0.0.1</RemoteHost>-->
        <RemoteHost>${host}</RemoteHost>
        <Port>${port}</Port>
        <!--<Port>${splunk.port}</Port>-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<pattern>{"date":"%date{"yyyy-MM-dd'T'hh:mm:ss,SSSZ",UTC}","thread": "[%thread]","level":"%level", "msg":"%msg"}%n</pattern>-->
            <pattern>{"date":"%d{ISO8601,GMT+8:00}","thread": "[%thread]","level":"%level", "msg":"%msg"}%n</pattern>
            <!--<pattern>{"thread": "[%thread]","level":"%level", "msg":"%msg"}%n</pattern>-->
        </layout>
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
　　　　　　<root level="DEBUG">
    <!--<filter class="com.example.demo.config.LogFilter"></filter>-->
　　　　　　  <appender-ref ref="FILE" />
             <appender-ref ref="socket" />
    <!--<appender-ref ref="console"/>-->
　　　　　　</root>
    <!--<turboFilter class="com.example.demo.config.LogFilter">-->
        <!--&lt;!&ndash;<Marker>sample</Marker>&ndash;&gt;-->
    <!--</turboFilter>-->
</configuration>